.activated {
    //--background: #d4ad30;
    border-top: 3px solid #d4ad30;
}

.color-active {
    color: #d4ad30;
}

.active-parent {
    --color: #848484;
    font-weight: 600;
}

.head-content {
    margin-top: 30px;
    text-align: center;

    ion-avatar {
        width:160px;
        height:160px; margin: auto;
        margin-bottom: 30px;
        padding: 5px;
        background:#000000; color:#d4ad30;
        border: 6px solid #d4ad30;
        
        span {
            font-weight: 400;
            font-size: 2.5em;
        }
    }
}

ion-grid {
    ion-row {
        ion-col {
            text-align: center;
        }
    }
}