<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button icon="chevron-back" color="primary"></ion-back-button>
    </ion-buttons>
    <ion-title color="primary">{{sideContent.title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item lines="none" *ngIf="!isvisible && uucase?.created !='00/00/0000'">
    <ion-label><p>Réglage</p></ion-label>
    <ion-icon color="medium" (click)="checkVisibility()" name="settings" slot="end"></ion-icon>
  </ion-item>

  <div *ngIf="isvisible" class="ion-padding" style="text-align: center;">
    <ion-text color="primary">
      <h3>Edition du profil</h3>
    </ion-text>
    <ion-card style="box-shadow: none;">
      <img src="assets/img/pfl.jpg">
      <ion-card-content></ion-card-content>
    </ion-card>
  </div>
  
  <ion-list *ngIf="isvisible">
    
    <ion-item>
      <ion-label position="floating">noms</ion-label>
      <ion-input [value]="uucase.name" (input)=handdle1($event)></ion-input>
    </ion-item>
    <div class="ion-padding" *ngIf="error.name.status">
      <ion-text color="danger">
        <span>
          {{error.name.value}}
        </span>
        <ion-icon color="danger" name="sad"></ion-icon>
      </ion-text>
    </div>

    <ion-item>
      <ion-label position="floating">Téléphone</ion-label>
      <ion-input [value]="uucase.phone" (input)=handdle2($event)></ion-input>
    </ion-item>
    <div class="ion-padding" *ngIf="error.phone.status">
      <ion-text color="danger">
        <span>
          {{error.phone.value}}
        </span>
        <ion-icon color="danger" name="sad"></ion-icon>
      </ion-text>
    </div>

    <ion-item>
      <ion-label position="floating">E-mail</ion-label>
      <ion-input [value]="uucase.email" (input)=handdle3($event)></ion-input>
    </ion-item>
    <div class="ion-padding" *ngIf="error.email.status">
      <ion-text color="danger">
        <span>
          {{error.email.value}}
        </span>
        <ion-icon color="danger" name="sad"></ion-icon>
      </ion-text>
    </div>

    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button expand="full" shape="round" fill="outline" size="small" color="primary" (click)="saveChange()"  *ngIf="!error.name.status && !error.phone.status && !error.email.status">Enregistrer</ion-button>
        </ion-col>
        <ion-col>
          <ion-button expand="full" shape="round" fill="outline" size="small" color="danger" (click)="checkVisibility()">Fermer</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>

  <div class="head-content" *ngIf="!isvisible">
    <ion-avatar >
      <p>Jours <br> Restant</p>
      <span>{{counter}}</span>
    </ion-avatar>
      <ion-label>
        <h1><b>{{uucase.name}}</b></h1>
        <p> {{uucase.email}}</p>
        <p> {{uucase.phone}}</p>
        <p>crée le {{uucase.created}}</p>
        <p>{{uucase.chambre[0].number+' - '+uucase.chambre[0].title}}</p>
        <p><img [src]="uucase.flag"></p>
      </ion-label>
  </div>

  <ion-grid *ngIf="!isvisible">
    <ion-row>
      <ion-col>
        <h4><b>{{orderFilter()?orderFilter().length:0}}</b></h4>
        <p>commandes</p>
      </ion-col>
      <ion-col>
        <h4><b>{{bookingFilter()?bookingFilter().length:0}}</b></h4>
        <p>réservations</p>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-list *ngIf="!isvisible">
    <ion-item-divider>
      <ion-label>commandes</ion-label>
  </ion-item-divider>
    <ion-item-group *ngFor="let ord of orderFilter()?.reverse()">
    
      <ion-item lines="none">
        <ion-thumbnail slot="start">
          <ion-img [src]="ord.img"></ion-img>
        </ion-thumbnail>
        <ion-label>
          <h4 class="ion-text-wrap">{{ord.title}}</h4>
          <p>Coût: {{ord.price*ord.quantity}} XAF</p>
        </ion-label>
        <ion-icon *ngIf="!ord.status.finish" color="danger" name="star-outline" slot="end"></ion-icon>
        <ion-icon *ngIf="ord.status.finish" color="success" name="star-outline" slot="end"></ion-icon>
      </ion-item>
      <ion-item-divider>
        <ion-icon color="medium" name="cart" slot="start"></ion-icon>
        <ion-label slot="end" style="margin-right: 20px;">{{ord.date.show}}</ion-label>
    </ion-item-divider>
    </ion-item-group>
  </ion-list>

  <ion-list *ngIf="!isvisible">
    <ion-item-divider>
      <ion-label>réservations</ion-label>
  </ion-item-divider>
    <ion-item-group *ngFor="let boo of bookingFilter()?.reverse(); let i = index">
    
      <ion-item lines="none">
        <ion-thumbnail slot="start">
          <ion-img [src]="boo.img"></ion-img>
        </ion-thumbnail>
        <ion-label>
          <h4 class="ion-text-wrap">{{boo.title}}</h4>
          <p>Coût: {{boo.price*boo.quantity}} XAF</p>
        </ion-label>
        <ion-icon *ngIf="!boo.status.finish" color="danger" name="star-outline" slot="end"></ion-icon>
        <ion-icon *ngIf="boo.status.finish" color="success" name="star-outline" slot="end"></ion-icon>
      </ion-item>
      <ion-item-divider>
        <ion-icon color="medium" name="card" slot="start"></ion-icon>
        <ion-label slot="end" style="margin-right: 20px;">{{boo.date.show}}</ion-label>
    </ion-item-divider>
    </ion-item-group>
  </ion-list>

</ion-content>
