<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button icon="chevron-back" color="primary"></ion-back-button>
    </ion-buttons>
    <ion-title color="primary">{{detailContent.title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="imgstyle">
    <ion-img [src]="detailContent.img"></ion-img>
  </div>
  <div class="bandle">
    <ion-item lines="none">
      <ion-label>{{detailContent.title}}</ion-label>
      <ion-icon slot="end" name="share" (click)="onShare(detailContent)"></ion-icon>
    </ion-item>
  </div>

  <ion-list lines="full">
    <ion-item style="font-size:0.8em; font-style: italic;">
      <ion-label>Prix: {{detailContent.prix}} XAF</ion-label>
      <span>Coût: ({{QTE*detailContent.prix}} XAF)</span>
    </ion-item>

    <ion-item>
      <ion-label>Quantité</ion-label>
      <ion-label>{{QTE}}</ion-label>
      <ion-icon slot="end" name="remove-circle-outline" mode="ios" (click)="onRemQte()"></ion-icon>
      <ion-icon slot="end" name="add-circle-outline" mode="ios" (click)="onAddQte()"></ion-icon>
    </ion-item>

    <ion-item>
      <ion-label>
        <span>Detail</span>
        <p class="ion-text-wrap">{{detailContent.detail}}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list class="ion-padding end">
    <div>
      <ion-item lines="full">
        <ion-label>
          <div>
            <ion-icon name="card" color="primary" mode="md"></ion-icon>
            <p><b>Detail</b></p>
            <p class="ion-text-wrap">Assurez-vous de disposer du crédit dans votre compte pour pouvoir éffectuer une commande. votre commande est transmise automatiquement aprés votre confirmation.</p>
            <ion-button shape="round" fill="outline" size="small" color="primary" (click)="onGetCommande()" [disabled]="(detailContent.quantity < 1)">Commander</ion-button>
          </div>
        </ion-label>
      </ion-item>
    </div>

    <div>
      <ion-item lines="full">
        <ion-label>
          <div>
            <ion-icon name="cart" color="primary" mode="ios"></ion-icon>
            <p><b>Detail</b></p>
            <p class="ion-text-wrap">Pour éffectuer une réservation vous devez indiquer la date et l'heure a la quelle vous souhaitez réserver.</p>
            <ion-list lines="none">
              <ion-item lines="full">
                <ion-icon slot="start" name="calendar"></ion-icon>
                <ion-label>Date de la réservation</ion-label>
                <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="startDate"></ion-datetime>
              </ion-item>

              <ion-item>
                <ion-icon slot="start" name="alarm"></ion-icon>
                <ion-label>Heure de la réservation</ion-label>
                <ion-datetime displayFormat="HH:mm" expand="block" [(ngModel)]="startTime"></ion-datetime>
              </ion-item>

            </ion-list>
            <ion-button shape="round" fill="outline" size="small" color="primary" (click)="onGetReservation()" [disabled]="startDate == '' || startTime == ''">Réserver</ion-button>
          </div>
        </ion-label>
      </ion-item>
    </div>
  </ion-list>
</ion-content>
