.bandle {
    ion-item{
        --background:  #ebeaea;
    }

}

.end {

    ion-icon {
        font-size: 40px;
    }

    ion-list {

        ion-icon {
            font-size: 25px;
        }
    }
}

div {
    text-align: center;
    color:#606060;

}

.imgstyle {
    height: 50%;
    overflow-y: auto;
}