ion-input {
    --color: black;
    --placeholder-color: black;
    --placeholder-opacity: 0.7;
    border-bottom: 1px solid #d4ad31;
}

ion-textarea {
    --color: black;
    border-bottom: 1px solid #d4ad31;
}

.mdif-img{
    transform: scale(0.7);
    width: 60%;
    margin: auto;
    margin-top: 120px;
}

div {
    margin: 30px 0;
}


div {
    text-align: center;
    
}

ion-icon {
   font-size: 60px;
}

ion-row {
    margin-bottom: 20px;
}
