<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button icon="chevron-back" color="primary"></ion-back-button>
    </ion-buttons>
    <ion-title color="primary">Envoyer un mail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div class="ion-padding" style="text-align: center;">
    <ion-text color="primary">
      <h3>Grand hôtel de kintélé</h3>
    </ion-text>
    <ion-card style="box-shadow: none;">
      <img src="assets/img/eml.jpg">
      <ion-card-content></ion-card-content>
    </ion-card>
  </div>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-label>Nom</ion-label>
        <ion-input type="text" [(ngModel)]="form.nom"></ion-input>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-label>E-Mail</ion-label>
        <ion-input type="text" [(ngModel)]="form.mail"></ion-input>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-label>Message</ion-label>
        <ion-textarea type="text" [(ngModel)]="form.message"></ion-textarea>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="form.nom.length < 6 || form.mail.length < 6 || form.message.length < 6">
      <ion-col><ion-button shape="round" fill="outline" color="primary" disabled="true">Envoyer</ion-button></ion-col>
    </ion-row>

    <ion-row *ngIf="form.nom.length >= 6 && form.mail.length >= 6 && form.message.length >= 6">
      <ion-col><ion-button shape="round" fill="outline" color="primary" (click)="sendmail()">Envoyer</ion-button></ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
