@font-face {
    font-family: 'kaushan';
    font-style: normal;
    font-weight: normal;
    src: url('../../../assets/font/kaushan.otf');

}

ion-content {
    --background: #000000; 
}

ion-list {
    background-color: #000000;
    padding: 0px;
    margin: 0px;
}

ion-item {
    border-bottom: 1px solid #d4ad30;
}

ion-title {
    font-family: kaushan, Helvetica, sans-serif;
    font-size: 1.5em;
}