<ion-menu contentId="content">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>{{sideMenu.title}}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <ion-menu-toggle auto-hide="false" *ngFor="let p of sideMenu.content; let i=index">
        <ion-item button color="tertiary" (click)="onRedirectTo(p, i)">
          <ion-icon color="primary" slot="start" [name]="p.icon"></ion-icon>
          {{p.title}}
        </ion-item>
      </ion-menu-toggle>
    </ion-list>
  </ion-content>

</ion-menu>

<ion-router-outlet id="content" main></ion-router-outlet>