<ion-content class="ion-padding ion-text-center custum-login" color="tertiary" >
  <ion-item color="none" lines="none" *ngIf="viewer">
    <ion-icon slot="start" name="arrow-back" (click)="viewBack()"></ion-icon>
  </ion-item>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

    <ion-img src="assets/img/logo.png" alt="" class="mdif-img"></ion-img>
  
    <div class="box-int" *ngIf="!viewer">
      <ion-card mode="ios" color="dark">
        <ion-card-content>
          <p color="primary">Créez votre compte dès maintenant ou passez simplement pour aller plus vite</p>
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-fab-button (click)="viewChange()"><ion-icon name="person-outline"></ion-icon></ion-fab-button>
              </ion-col>

              <ion-col>
                <ion-fab-button (click)="skipNow()"><ion-icon name="play-skip-forward-outline"></ion-icon></ion-fab-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card-content>
      </ion-card>
    </div>

    <ion-grid *ngIf="viewer">
      <ion-row>
        <ion-col>
          <ion-select [(ngModel)]="formContent.selectedCountry" [placeholder]="formContent.selectedCountry.name" okText="OK" cancelText="Fermer">
            <ion-select-option [value]="c" *ngFor="let c of country">{{c.name}}</ion-select-option>
          </ion-select>
        </ion-col>
      </ion-row>


      <ion-row>
        <ion-col size="4"><ion-input expand="block" [(ngModel)]="formContent.selectedCountry.dial_code" placeholder="Numéro de téléphone" type="tel" disabled="true" ></ion-input></ion-col>
        <ion-col size="8"><ion-input expand="block" type="tel" [(ngModel)]="formContent.phone" minlength="8" maxlength="12" placeholder="Numéro de téléphone" type="tel" ></ion-input></ion-col>
      </ion-row>
    

      <ion-row>
        <ion-col><ion-input expand="block" type="text" [(ngModel)]="formContent.pseudo" minlength="8" maxlength="20" placeholder="Votre Nom et Prenom" color="tertiary"></ion-input></ion-col>
      </ion-row>

      <ion-row>
        <ion-col><ion-input expand="block" type="text" [(ngModel)]="formContent.email" minlength="8" maxlength="25" placeholder="Votre adresse mail (facultatif)" color="tertiary"></ion-input></ion-col>
      </ion-row>

      <ion-row>
        <ion-col><ion-button expand="block" (click)="userControlle()" fill="outline" color="primary" [disabled]="formContent.phone.length < 8 || formContent.pseudo.length < 8">S'incrire</ion-button></ion-col>
      </ion-row>

    </ion-grid>

    <div class="ion-padding-top"><a (click)="routePage('signin')" color="primary" >J'ai déjà un compte</a></div>
  
</ion-content>