ion-searchbar {
    position: absolute; top:10%;
}

.active-parent {
    font-weight: 800;
}

.sub-item {
    padding-left: 30px;
}

ion-segment{
    background-color: #ebeaea;
}

.slideTitle {
    height: 50px;
    margin: 0px;
    ion-item {
        --background:#ebeaea;
        text-align: center;
    }
}

.selectTableA {
    --background: #f7d541;
    color:#796303;
    margin: 0px;
    padding: 0px;
}

.selectTableB {
    --background: #ffffff;
    color:#000000;
    margin: 0px;
    padding: 0px;
}

.selectTableC {
    --background:#f72463;
    color:#790326;
    margin: 0px;
    padding: 0px;
}