<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button icon="chevron-back" color="primary"></ion-back-button>
    </ion-buttons>
    <ion-title color="primary">{{sideContent.title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img [src]="sideContent.img"></ion-img>
  <!-- <ion-searchbar placeholder="Filter Schedules" (input)="filterItems()" [(ngModel)]="searchTerm"></ion-searchbar> -->
  <div>
    <ion-segment [(ngModel)]="selectedTab" scrollable color="dark">
      <ion-segment-button [value]="m.selection" *ngFor="let m of sideContent.content; let a=index" (click)="onGetSelection(a)">
        <ion-label><b>{{m.title}}</b></ion-label>
      </ion-segment-button>
    </ion-segment>
  </div>

  <ion-list style="margin: 0px;padding: 0px;">
    <ion-item *ngIf="!seletedVisible" [ngClass]="{'selectTableA': TabColor == false,'selectTableB': TabColor == true}">
      <ion-label>choisir une table</ion-label>
      <ion-select [value]="selectedTable" interface="action-sheet" (ionChange)="handle1($event)">
        <ion-select-option *ngFor="let data of table" [value]="data">Table {{data}}</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item button (click)="closePage()" *ngIf="seletedVisible" [ngClass]="{'selectTableC': TabColor == false,'selectTableB': TabColor == true}">
      <ion-label>Terminez votre commande</ion-label>
      <ion-badge color="danger">table {{selectedTable}}</ion-badge>
    </ion-item>
  
  </ion-list>

  <ion-card *ngIf="!seletedVisible" style="box-shadow: none; text-align: center;">
    <img src="assets/img/rst.jpg" style="width: 150px; height: 150px;">
    <ion-card-content *ngIf="counter > 0">
      <ion-button (click)="getRoom()" expand="full" shape="round" fill="outline">Livrez dans la chambre</ion-button>
    </ion-card-content>
  </ion-card>

  <div [ngSwitch]="selectedTab" *ngIf="seletedVisible">
    <div *ngFor="let m of sideContent.content">
      <ion-list *ngSwitchCase="m.selection" lines="full">
        <div *ngFor="let n of m.content; let b=index" (click)="onGetcategorie(b)">
          <ion-item button (click)="n.open = !n.open" [class.active-parent]="n.open">
            <ion-icon color="dark" slot="start" [name]="n.icon"></ion-icon>
            <ion-label color="dark">{{n.title}}</ion-label>
            <ion-icon color="dark" slot="end" name="arrow-forward" mode="ios" *ngIf="!n.open"></ion-icon>
            <ion-icon color="dark" slot="end" name="arrow-down" mode="ios" *ngIf="n.open"></ion-icon>
          </ion-item>

          <ion-list *ngIf="n.open">
            <ion-item button class="sub-item" *ngFor="let d of n.content; let i=index" (click)="singleGetDetail(d, i)">
              <ion-thumbnail start-item>
                <ion-img [src]="d.img"></ion-img>
              </ion-thumbnail>
              <ion-label class="ion-padding">
                <p color="dark"><b>{{d.title}}</b></p>
                <p color="medium">Prix: {{d.prix}} Xaf</p>
                <p color="medium">Quantité: {{d.quantity}}</p>
              </ion-label>
              <ion-icon color="dark" slot="end" name="link" mode="md"></ion-icon>
            </ion-item>
          </ion-list>
        </div>
      </ion-list>
    </div>
  </div>
  
</ion-content>
