.imgstyle {
    height: 50%;
    overflow-y: auto;

    div{
        position: absolute;
        top: 10px;
        right: 10px;
        ion-icon {
            margin: 10px;
            font-size: 30px;
        }
    }
}

.end {
    text-align: center; 
    color:#606060;
    ion-icon {
        font-size: 40px;
    }
    ion-list {

        ion-icon {
            font-size: 25px;
        }
    }
}