<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button icon="chevron-back" color="primary"></ion-back-button>
    </ion-buttons>
    <ion-title color="primary">{{sideContent.title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="imgstyle">
    <ion-img [src]="sideContent.img"></ion-img>
  </div>

  <div style="background-color: #ebeaea;">
    <ion-segment [(ngModel)]="selectedTab" scrollable color="dark">
      <ion-segment-button [value]="m.title" *ngFor="let m of sideContent.content; let a=index" (click)="onGetSelection(a)">
        <ion-label><b>{{m.title}}</b></ion-label>
      </ion-segment-button>
    </ion-segment>
  </div>

  <div [ngSwitch]="selectedTab">
    <ion-item>
      <ion-label>Actions</ion-label>
      <ion-icon slot="end" name="share" (click)="onShare(sideContent)"></ion-icon>
    </ion-item>
    <div *ngFor="let m of sideContent.content">
      <ion-list *ngSwitchCase="m.title" lines="inset">
        <div *ngFor="let n of m.content; let b=index">

          <ion-item>
            <ion-label color="dark">Disponible</ion-label>
            <ion-label>{{n.disponible}}</ion-label>
          </ion-item>

          <ion-item>
            <ion-label color="dark">Prix</ion-label>
            <ion-label>{{n.prix}} XAF</ion-label>
          </ion-item>

          <ion-item>
            <ion-label color="dark">Nombre de Place</ion-label>
            <ion-label>{{n.place}}</ion-label>
          </ion-item>

          <ion-item>
            <ion-label color="dark">Superficie</ion-label>
            <ion-label>{{n.superficy}} m<sup>2</sup> </ion-label>
          </ion-item>

          <ion-item>
            <ion-label color="dark">Detail</ion-label>
            <ion-label>{{n.detail}}</ion-label>
          </ion-item>
        </div>

        <div class="ion-padding">
          <ion-item lines="none">
            <ion-label>
              <div class="end">
                <ion-icon name="cart" color="primary" mode="ios"></ion-icon>
                <p><b>Détail</b></p>
                <p class="ion-text-wrap">Pour éffectuer une réservation vous devez indiquer la date et l'heure a la quelle vous souhaitez réserver.</p>
                <ion-list lines="none">
                  <ion-item lines="full">
                    <ion-icon slot="start" name="calendar"></ion-icon>
                    <ion-label>Date de la réservation</ion-label>
                    <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="startDate"></ion-datetime>
                  </ion-item>
    
                  <ion-item lines="none">
                    <ion-icon slot="start" name="alarm"></ion-icon>
                    <ion-label>Heure de la réservation</ion-label>
                    <ion-datetime displayFormat="HH:mm" expand="block" [(ngModel)]="startTime"></ion-datetime>
                  </ion-item>
    
                </ion-list>
                <ion-button shape="round" fill="outline" size="small" color="primary" (click)="onGetReservation(sideContent)" [disabled]="startDate == '' || startTime == ''">Réserver</ion-button>
              </div>
            </ion-label>
          </ion-item>
        </div>
      </ion-list>
      
    </div>
  </div>
  
</ion-content>
