<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button icon="chevron-back" color="primary"></ion-back-button>
    </ion-buttons>
    <ion-title color="primary">{{sideContent.title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-slides pager="false" [options]="slideopts">
    <ion-slide *ngFor="let m of sideContent.content" mode="ios">

      <div>
        <div class="first-part">
          <div class="image"><ion-img [src]="m.img"></ion-img></div>
          <ion-item class="bandle" lines="none">
            <ion-label>{{m.title}}</ion-label>
            <ion-icon slot="end" name="share" (click)="onShare(m)"></ion-icon>
          </ion-item>
        </div>
  
        <div class="second-part">
          <ion-list class="ion-padding">
            <ion-item>
              <ion-label>Quantité</ion-label>
              <ion-label>{{QTE}}</ion-label>
              <ion-icon slot="end" name="remove-circle-outline" mode="ios" (click)="onRemQte()"></ion-icon>
              <ion-icon slot="end" name="add-circle-outline" mode="ios" (click)="onAddQte()"></ion-icon>
            </ion-item>
  
            <div>
              <ion-item lines="none">
                <ion-label>
                  <div>
                    <ion-icon name="cart" color="primary" mode="ios"></ion-icon>
                    <p class="ion-text-wrap"><b>Prix : {{m.prix}} XAF</b></p>
                    <p class="ion-text-wrap"><b>Durée des soins : {{m.duree}}</b></p>
                    <p class="ion-text-wrap"><b>Détail</b><br>{{m.detail}}</p>
  
                    <ion-list lines="none">
                      <ion-item lines="full">
                        <ion-icon slot="start" name="calendar"></ion-icon>
                        <ion-label>Date de la réservation</ion-label>
                        <ion-datetime displayFormat="DD/MM/YYYY" [(ngModel)]="startDate"></ion-datetime>
                      </ion-item>
        
                      <ion-item>
                        <ion-icon slot="start" name="alarm"></ion-icon>
                        <ion-label>Heure de la réservation</ion-label>
                        <ion-datetime displayFormat="HH:mm" expand="block" [(ngModel)]="startTime" mode="md"></ion-datetime>
                      </ion-item>
        
                    </ion-list>
                    <ion-button shape="round" fill="outline" size="small" color="primary" (click)="onGetReservation(m)" [disabled]="startDate == '' || startTime == ''">Réserver</ion-button>
                  </div>
                </ion-label>
              </ion-item>
            </div>
        
          </ion-list>
        </div>
      </div>

    </ion-slide>
  </ion-slides>
</ion-content>