div{
    width: 100%;
    text-align: center; 
    color:#606060;
    padding: 0px;
    margin: 0px;
}

.first-part{
    width: 100%;
    text-align: center; 
    color:#606060;

    .bandle {
        --background:  #ebeaea;
        margin: 0px;
    }
}

.second-part {
    width: 100%;
    text-align: center; 
    color:#606060;
    ion-list {

        div {
            ion-icon {
                font-size: 40px;
            }

            ion-list {

                ion-icon {
                    font-size: 25px;
                }
            }
        }
    }
    
}
