<ion-content>

  <ion-grid *ngIf="!contentView">
    <ion-row>
      <ion-col>
        <ion-card>
          <div class="head">
            <h1 color="primary">GRAND HÔTEL DE KINTELE</h1>
            <img src="assets/img/confidential.jpg" alt="">
            <h4>Nos conditions d'utilisation</h4>
          </div>
          <ion-card-content style="margin: 0px; padding: 0px;margin-top: 15px; text-align: justify;">
            Pour utiliser les services GHK client, vous devez accpeter les <a (click)="changeState()">Conditions d'utilisation</a> et les <a (click)="changeState()">règles de confidentialité</a>. Nous vérifions occasionnellemnt votre numéro de téléphone en échangeant des informations sur votre appareil avec votre opérateur (des frais de SMS peuvent s'appliquer). <a (click)="changeState()">En savoir plus</a> 
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button expand="block" shape="round" (click)="routePage('signup')" fill="outline" color="primary">Accepter</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid *ngIf="contentView">
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header class="text-center">
            <ion-card-title>Politique de confidentialité</ion-card-title>
          </ion-card-header>
          <ion-img src="assets/img/regle.jpg" alt=""></ion-img>
          <ion-card-content>
            les données que vous mettez a notre disposition ne sont ni échangé ni revendu, ils nous permettent de confirmer votre identité et d'être en mesure de vous joindre lorsque vous utilisez nos services. en d'autres termes, en utilisant GHK client vous acceptez nos conditions d'utilisation et ne pouvez en aucun cas demander compensation pour utilisation de données. 
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col style="text-align: center;" >
        <ion-button shape="round" (click)="changeState()" fill="outline" color="primary">Retour</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
