ion-card {
    box-shadow: none;
}

a{
    text-decoration: underline;
}

.head {
    width:100%;
    text-align: center;
    img {
        width: 100px;
        margin: 20px;
        border-radius: 100px;
    }

    h1 {
        margin: 40px;
        font-size: 1rem;
    }

    h4 {
        margin: 20px;
        font-size: 1rem;
    }
}