<ion-header *ngIf="isLoad">
  <ion-toolbar color="tertiary">
    <ion-segment [(ngModel)]="pet" scrollable color="primary" mode="md">
      <ion-segment-button [value]="m.title" *ngFor="let m of products; let i = index" (click)="openMenu(m, i)">
        <ion-label color="primary"><b>{{m?.title}}</b></ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  
  <ion-slides pager="false" [options]="slideopts" *ngIf="isLoad">
    <ion-slide *ngFor="let m of products.length>0?products[0].content:products">
      <div class="slideTitle">
        <div><ion-img [src]="m.img" (ionImgDidLoad) = fullLoad($event)></ion-img></div>
        <ion-item lines="none">
          <ion-label>{{m.title}}</ion-label>
        </ion-item>
      </div>
    </ion-slide>
  </ion-slides>
  
  <div *ngIf="type == 'admin' && isLoad">
    <ion-item lines="full" (click)="open = !open">
      <ion-icon name="laptop" slot="start" mode="ios"></ion-icon>
      <ion-label class="ion-text-wrap">Selectionnez une table</ion-label>
      <ion-icon *ngIf="!open" name="arrow-up" slot="end" mode="ios"></ion-icon>
      <ion-icon *ngIf="open" name="arrow-down" slot="end" mode="ios"></ion-icon>
    </ion-item>
  </div>

  <ion-list class="ion-padding" *ngIf="isLoad">
    <div *ngFor="let n of products; let j=index">
      <ion-item lines="full" *ngIf="n.title != 'Accueil'">
        <ion-label>
          <div>
            <ion-icon [name]="n.icon" style="font-size: 40px;" color="primary"></ion-icon>
            <p><b>{{n.title}}</b></p>
            <p class="ion-text-wrap">{{n.detail}}</p>
            <ion-button shape="round" fill="outline" size="small" color="primary" (click)="openMenu(n,j)">Découvrir</ion-button>
          </div>
        </ion-label>
      </ion-item>
    </div>
  </ion-list>

  <div class="view-loaded" *ngIf="!isLoad">
    <div class="icon-bad-load">
      <svg xmlns="http://www.w3.org/2000/svg" width="100" height="100" fill="currentColor" class="bi bi-emoji-frown" viewBox="0 0 16 16">
        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
        <path d="M4.285 12.433a.5.5 0 0 0 .683-.183A3.498 3.498 0 0 1 8 10.5c1.295 0 2.426.703 3.032 1.75a.5.5 0 0 0 .866-.5A4.498 4.498 0 0 0 8 9.5a4.5 4.5 0 0 0-3.898 2.25.5.5 0 0 0 .183.683zM7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5zm4 0c0 .828-.448 1.5-1 1.5s-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5z"/>
      </svg>
    </div>

    <div class="content-view-loaded">
      <p><b>Erreur !</b></p>
      <p class="ion-text-wrap">Une erreur s'est produite lors du chargement des données</p>
      <ion-button shape="round" fill="outline" size="small" color="primary" (click)="init()">Réessayez</ion-button>
    </div>
  </div>
</ion-content>