ion-label {
    div {
        text-align: center; 
        color:#606060;
    }
}

.slideTitle {
    margin: 0px;
    padding: 0px;
    div {
        overflow-y: auto;
        margin: 0px;
        height: 100%; 
    }

    ion-item {
        --background:#ebeaea;
        text-align: center;
    }
}

.view-loaded {
    width: 100%;
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    text-align: center;
    padding-top: 150px;
    
    .icon-bad-load {
        width: 100px;
        height: 100px;
        margin: auto;
    }

    .content-view-loaded {
        margin-top: 100px;
        padding: 0px 40px;
    }
}
