ion-input {
    --background: #d4ad31;
    border-radius: 3px;
    --color: black;
    --placeholder-color: black;
    --placeholder-opacity: 0.7;
    border: 2px solid #d4ad31;
}

ion-select {
    background: #d4ad31;
    border-radius: 3px;
    color: black;
    border: 2px solid #d4ad31;
}

.mdif-img{
    transform: scale(0.7);
    width: 60%;
    margin: auto;
    margin-top: 30px;
}

div {
    margin: 30px 0;
}


div a {
    color: #d4ad31;
    
}

.container-link {
    margin-top: 80px;
}

ion-row {
    margin-bottom: 20px;
}
