<ion-content class="ion-padding ion-text-center custum-login" color="tertiary" >
  <ion-item color="none" lines="none">
    <ion-icon slot="start" name="arrow-back" (click)="routePage('signup')"></ion-icon>
  </ion-item>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  
  <ion-img src="assets/img/logo.png" alt="" class="mdif-img"></ion-img>
    
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-select [(ngModel)]="formContent.selectedCountry" [placeholder]="formContent.selectedCountry.name" okText="OK" cancelText="Fermer">
          <ion-select-option [value]="c" *ngFor="let c of country">{{c.name}}</ion-select-option>
        </ion-select>
      </ion-col>
    </ion-row>


    <ion-row>
      <ion-col size="4"><ion-input expand="block" [(ngModel)]="formContent.selectedCountry.dial_code" placeholder="Numéro de téléphone" type="tel" disabled="true" ></ion-input></ion-col>
      <ion-col size="8"><ion-input expand="block" type="tel" [(ngModel)]="formContent.phone" minlength="8" maxlength="12" placeholder="Numéro de téléphone" type="tel" ></ion-input></ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <div id="recaptcha-signin"></div>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col><ion-button expand="block" (click)="userControle()" fill="outline" color="primary" [disabled]="(formContent.phone.length < 8)">Connexion</ion-button></ion-col>
    </ion-row>

  </ion-grid>

  <div class="ion-padding-top"><a (click)="routePage('signup')" color="primary" >Crée un nouveau compte</a></div>
  
  
</ion-content>