<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button icon="chevron-back" color="primary"></ion-back-button>
    </ion-buttons>
    <ion-title color="primary">{{sideContent.title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides pager="true" [options]="slideopts">
    <ion-slide *ngFor="let m of sideContent.img" style="padding: 0px;">
      <ion-img [src]="m" style="width: 100%;"></ion-img>
    </ion-slide>
  </ion-slides>

  <div>
    <ion-item lines="none">
      <ion-label>{{sideContent.title}}</ion-label>
      <ion-icon slot="end" name="share" (click)="onShare(sideContent)"></ion-icon>
    </ion-item>
  </div>

  <ion-list lines="full">
    <ion-item style="font-size:0.8em; font-style: italic;">
      <ion-label>Prix: $ {{sideContent.prix}}</ion-label>
    </ion-item>

    <ion-item style="font-size:0.8em; font-style: italic;">
      <ion-label>Disponible</ion-label>
      <ion-label>{{sideContent.disponible}}</ion-label>
    </ion-item>

    <ion-item>
      <ion-label>
        <span style="font-size:0.8em; font-style: italic;">Detail</span>
        <p class="ion-text-wrap">{{sideContent.detail}}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <div class="ion-padding">
    <ion-button ion-back-button shape="round" fill="outline" size="small" color="primary" routerLink="/menu/home" routerDirection="backward"><b>Retour</b></ion-button>
  </div>

  <!-- <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <ion-item>
      <ion-icon name="pin" slot="start"></ion-icon>
      <ion-label>ion-item in a card, icon left, button right</ion-label>
      <ion-button fill="outline" slot="end">View</ion-button>
    </ion-item>
  
    <ion-card-content>
      This is content, without any paragraph or header tags,
      within an ion-card-content element.
    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <ion-item href="#" class="ion-activated">
      <ion-icon name="wifi" slot="start"></ion-icon>
      <ion-label>Card Link Item 1 activated</ion-label>
    </ion-item>
  
    <ion-item href="#">
      <ion-icon name="wine" slot="start"></ion-icon>
      <ion-label>Card Link Item 2</ion-label>
    </ion-item>
  
    <ion-item class="ion-activated">
      <ion-icon name="warning" slot="start"></ion-icon>
      <ion-label>Card Button Item 1 activated</ion-label>
    </ion-item>
  
    <ion-item>
      <ion-icon name="walk" slot="start"></ion-icon>
      <ion-label>Card Button Item 2</ion-label>
    </ion-item>
  </ion-card> -->
</ion-content>
